<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.BoardDAO">
	<select id="totRecCnt" resultType="int">
		select count(*) from board2 <if test="searchString != ''"> where ${search} like concat('%',#{searchString},'%') </if>;
	</select>
	<select id="getBoardList" resultType="com.spring.javawspring.vo.BoardVO">
		select *, (select count(*) from boardReply2 where boardIdx = b.Idx) as replyCnt, datediff(now(), wDate) as day_diff, timestampdiff(hour, wDate, now()) as hour_diff from board2 b <if test="searchString != ''"> where ${search} like concat('%',#{searchString},'%') </if> order by idx desc limit #{startIdxNo}, #{pageSize};
	</select>
	<select id="getBoardContent" resultType="com.spring.javawspring.vo.BoardVO">
		select * from board2 where idx = #{idx};
	</select>
	<select id="getPrevNext" resultType="com.spring.javawspring.vo.BoardVO">
		select idx, title from board2 where idx in(
		(select idx from board2 where <![CDATA[idx < #{idx}]]> order by idx desc limit 1),
		(select idx from board2 where <![CDATA[idx > #{idx}]]> limit 1));
		<!-- 
			CDATA 작성법(대문자) -> <![CDATA[조건 ex: idx < 10]]>
			MyBatis에서 부등호 에러 -> gt, lt 등으로 사용해도 되지만, 실무에서는 CDATA로 많이 사용!
			(select idx from board2 where idx < #{idx} order by idx desc limit 1), 
			(select idx from board2 where idx > #{idx} limit 1));
		-->
	</select>
		
	<select id="getBoardGoodCheck" resultType="com.spring.javawspring.vo.GoodVO">
		select * from good where partIdx = #{partIdx} and part = #{part} and mid = #{mid};
	</select>

	<select id="getBoardReply" resultType="com.spring.javawspring.vo.BoardReplyVO">
		select * from boardReply2 where boardIdx = #{idx} order by levelOrder;
	</select>
	<select id="getMaxLevelOrder" resultType="String">
		select max(levelOrder) from boardReply2 where boardIdx = #{boardIdx};
	</select>

	
	<!-- 값 하나만 넣는다면, insert into board2 (필드명 ex: mid) values (필드값 ex: #{mid}); -->
	<insert id="setBoardInput">
		insert into board2 values (default, #{vo.nickName}, #{vo.title}, #{vo.email}, #{vo.homePage}, #{vo.content}, default, #{vo.hostIp}, default, default, #{vo.mid});
	</insert>
  <insert id="setGoodDBInput">
    insert into good values (default,#{goodVo.part},#{goodVo.partIdx},#{goodVo.mid});
  </insert>
  <insert id="setBoardReplyInput">
  	insert into boardReply2 values (default, #{replyVo.boardIdx}, #{replyVo.mid}, #{replyVo.nickName}, default, #{replyVo.hostIp}, #{replyVo.content}, default, #{replyVo.levelOrder});
  </insert>
  <insert id="setBoardReplyInput2">
  	insert into boardReply2 values (default, #{replyVo.boardIdx}, #{replyVo.mid}, #{replyVo.nickName}, default, #{replyVo.hostIp}, #{replyVo.content}, #{replyVo.level}, #{replyVo.levelOrder});
  </insert>
	
	
	<update id="setBoardReadNum">
		update board2 set readNum = readNum + 1 where idx = #{idx};
	</update>
	<update id="setBoardGood">
		update board2 set good = good + 1 where idx = #{idx};
	</update>
	<update id="setGoodPlusMinus">
		update  board2 set good = good + #{goodCnt} where idx = #{idx};
	</update>
	<update id="setBoardUpdateOk">
		update board2 set title=#{vo.title}, email=#{vo.email}, homePage=#{vo.homePage}, content=#{vo.content}, hostIp=#{vo.hostIp}  where idx = #{vo.idx};
	</update>
  <update id="setGoodUpdate">
  	 update board2 set good = good + #{item}  where idx = #{idx};
  </update>
  
  <update id="setLevelOrderPlusUpdate">
  	 update boardReply2 set levelOrder = levelOrder + 1 where boardIdx = #{replyVo.boardIdx} and levelOrder > #{replyVo.levelOrder};
  </update>
	
	
	<delete id="setBoardDeleteOk">
		delete from board2 where idx = #{idx};
	</delete>
  <delete id="setGoodDBDelete">
    delete from good where idx = #{idx};
  </delete>
  <delete id="setBoardReplyDeleteOk">
    delete from boardReply2 where idx = #{idx};
  </delete>
  <delete id="setBoardSelectDelete">
    delete from board2 where idx = #{idx} on delete restrict;
  </delete>
</mapper>

